/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

.smart-table-data-row.selected {
    background: darkgray;
}

.header-content:before {
    content: ' ';
    position: relative;
    left: -5px;
}

.sort-ascent:before {
    content: "▲";
}

.sort-descent:before {
    content: "▼";
}

.pagination {
    text-align: center;
    cursor: pointer;
}
.shuffle {
    float: right;
}
.smart-table{
	width:100%;
}
/* styles required for fixed table */
.smartTableContainer{
	width:99%;
	margin:auto;
}
.smartTableContainer .hidden-header .th-inner {
		height: 0;
		overflow-y: hidden;
		padding-right: 5px;
		position: static !important;
		white-space: nowrap;
}
.smartTableContainer .smart-table td {
	border-bottom: 1px solid #ccc;
	padding: 5px;
	text-align: left; /* IE */
}
.smartTableContainer .smart-table td + td {
	border-left: 1px solid #ccc;
}	
.smartTableContainer .header-background {
	border-bottom: 1px solid black;
}
.smartTableContainer .fixed-table-container {
	width: 100%;
	border: 1px solid black;
	margin: 0px auto;
	position: relative; /* could be absolute or relative */
	padding-top: 30px; /* height of header */
}
.smartTableContainer .fixed-table-container-inner {
	overflow-x: hidden;
	overflow-y: auto;
	height: 100%;
}
.smartTableContainer .header-background {
	background-color: #226699;
	height: 30px; /* height of header */
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
}
.smartTableContainer table.smart-table {
	width: 100%;
}
.smartTableContainer table.smart-table .th-inner {
	position: absolute;
	top: 0;
	line-height: 30px; /* height of header */
	text-align: left;
	border-left: 1px solid black;
	padding-left: 5px;
	margin-left: -1px;
}
.smartTableContainer .smart-table th {
	padding:0 !important;
	border:none !important;
}
